@font-face {
    font-family: 'Perk';
    src: url('PerkPro.woff2') format('woff2'),
        url('PerkPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Perk';
    src: url('PerkPro-Bold.woff2') format('woff2'),
        url('PerkPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Perk';
    src: url('PerkPro-Medium.woff2') format('woff2'),
        url('PerkPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

